%% -*- mode: erlang -*-
%% ex: ft=erlang

{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.
{require_otp_version, "R16"}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {ranch, ".*", {git, "https://github.com/extend/ranch.git"}}
]}.
{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
