%% -*- mode: erlang -*-
%% ex: ft=erlang

[
    {tunnerl, [
        {port, 1080}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/info.log"}, {level, info}]}
        ]}
    ]}
].
