%% -*- mode: erlang -*-
%% ex: ft=erlang

[
    {tunnerl, [
        {protocols, [socks4, socks5]},
        {auth, [16#00, 16#02]},
        {auth_module, tunnerl_auth_dummy},
        {acceptors, 10},
        {ip, {0, 0, 0, 0}},
        {port, 1080}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/info.log"}, {level, info}]}
        ]}
    ]}
].
